@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: メイリオ, Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Sans", "Noto Sans JP", sans-serif;
}

/* pcサイズ */

.Phone-flex1 {
  display: none;
}

.Phone-Section-Main {
  display: none;
}

.l-bottomNav-item {
  display: none;
}

.underLine {
  position: relative;
}

.pagetop {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: #000;
  color: #f5f5f5;
  border: 1px solid #fff;
  padding: .8rem 1rem 0 1rem;
  opacity: 0;
  cursor: pointer;
  font-size: 2rem;
}


.underLine::after {
  background-color: #A71A1C;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}

/* リンクにホバーした際の下線の表示 */
.underLine:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}


/* ヘッダー */
#header {
  align-items: center;
  background-color: #000;
  z-index: 99;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header-main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.logo {
  padding-left: 6rem;
}

.logo img {
  display: block;
  width: 20vw;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.header-main nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-top: 1.5rem;
}

.header-main nav a {
  color: #FFF;
  font-weight: 700;
  /* opacity: 0.8; */
  text-decoration: none;
  white-space: nowrap;
}

.hover_navText {
  color: #A71A1C;
}

.textLine::after {
  display: block;
  color: #A71A1C;
  width: 100%;
  bottom: -1px;
}

/* entry-body */

.section-Main {
  display: flex;
  gap: 4rem;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

.youtube iframe {
  width: 35rem;
  height: 26rem;
}

.entry-body h2 {
  font-size: 1rem;
  margin-top: 4rem;
}

.subTitle-1 {
  font-size: 1.75rem;
  color: #cf2e2e;
  border-top: 2px solid #d8b529;
  padding-top: 1rem;
  margin-top: 3rem;
  font-weight: normal;
}

.heading {
  background-color: #7bdcb5;
  padding: 1.5rem 2.5rem;
  margin-top: 2rem;
}

.p1 {
  margin-top: 1rem;
}

.p2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding-left: 2rem;
  color: #cf2e2e;
}

.link1 {
  display: inline-block;
  color: #337ab7;
  font-size: 2rem;
  margin-top: 2rem;
}

.p3 {
  color: #cf2e2e;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.link2 {
  display: inline-block;
  color: #337ab7;
  text-decoration: none;
  margin-top: 2rem;
}

.img1 {
  margin-top: 1rem;
}

.img1 img {
  width: 40vw;
  height: auto;
}

.p4 {
  font-size: 2rem;
  line-height: 6rem;
}

.img2 {
  margin-top: 1rem;
}

.img2 img {
  width: 50vw;
  height: auto;
}

.p5 {
  margin-top: 1rem;
}

.p6 {
  color: #cf2e2e;
  font-size: 2.5rem;
  margin-top: 6rem;
}

.youtube {
  width: 100%;
  margin-top: 2rem;
}

.p7 {
  color: #cf2e2e;
  font-size: 2rem;
  margin-top: 6rem;
}

.img3 {
  margin-top: 1rem;
}

.img3 img {
  width: 50vw;
  height: auto;
}

.link3 {
  display: inline-block;
  color: #337ab7;
  text-decoration: none;
  margin-top: .5rem;
  margin-left: 1.8rem;
  font-size: 1.2rem;
}

.p8 {
  margin-top: .5rem;
  line-height: 3rem;
}

.form {
  margin-top: .5rem;
}

.form a {
  color: #337ab7;
  text-decoration: none;
}

.formList {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.formList li {
  line-height: 2.5rem;
}

.img4 {
  margin-top: 1rem;
}

.img4 img {
  width: 50vw;
  height: auto;
}

.p9 {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #cf2e2e;
}

.p10 {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #cf2e2e;
}

.p11 {
  margin-top: 2rem;
  line-height: 3rem;
}

.img5 {
  margin-top: 1rem;
}

.img5 img {
  width: 50vw;
  height: auto;
}

.p12 {
  color: #d8b529;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
}

.subTitle-2 {
  font-size: 1.75rem;
  border-top: 2px solid #d8b529;
  padding-top: 1rem;
  margin-top: 3rem;
  font-weight: normal;
}

.img6 {
  margin-top: 1rem;
}

.img6 img {
  width: 50vw;
  height: auto;
}

.p13 {
  margin-top: .5rem;
  line-height: 3rem;
  color: #b98608;
  font-size: 1.2rem;
}

.List1 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.List1 li {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.p14 {
  margin-top: 1rem;
  color: #b98608;
  line-height: 2rem;
  font-size: 1.2rem;
}

.p15 {
  margin-top: 1rem;
  color: #b98608;
  line-height: 2rem;
  font-size: 1.2rem;
}

.img7 {
  margin-top: 2rem;
}

.img7 img {
  width: 60vw;
  height: auto;
}

.p16 {
  color: #b98608;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.p17 {
  color: #b98608;
  margin-top: 1.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.p18 {
  color: #b98608;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.img8 {
  margin-top: 1rem;
}

.img8 img {
  width: 50vw;
  height: auto;
}

.List2 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.List2 li {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.p19 {
  margin-top: 1rem;
  color: #b98608;
  font-size: 1.2rem;
}

.p20 {
  margin-top: 4rem;
  color: #b98608;
  font-size: 1.2rem;
  line-height: 2rem;
}

.img9 {
  margin-top: 1rem;
  margin-left: 20rem;
}

.img9 img {
  width: 30vw;
  height: auto;
}

.img10 {
  margin-top: 4rem;
  text-align: center;
}

.img10 img {
  width: 30vw;
  height: auto;
}

.p21 {
  font-size: 1.2rem;
  color: #b98608;
  line-height: 2rem;
  margin-top: 1rem;
}

.List3 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.List3 li {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.p22 {
  color: #b98608;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.p23 {
  color: #b98608;
  margin-top: 4rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.p24 {
  color: #b98608;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.p25 {
  color: #b98608;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.p26 {
  color: #cf2e2e;
  font-size: 2rem;
  margin-top: 4rem;
}

.img11 {
  margin-top: 3rem;
}

.img11 img {
  width: 60vw;
  height: auto;
}

.link4 {
  display: inline-block;
  text-decoration: none;
  color: #337ab7;
  margin-top: .5rem;
}

.img12 {
  margin-top: 3rem;
}

.img12 img {
  width: 60vw;
  height: auto;
}

.p27 {
  color: #b98608;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.p28 {
  color: #b98608;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.p29 {
  color: #cf2e2e;
  font-size: 1rem;
  line-height: 3rem;
  margin-top: 4rem;
}

.p30 {
  margin-top: 3rem;
  line-height: 2rem;
}

.p31 {
  margin-top: 2rem;
}

.p32 {
  margin-top: 6rem;
}

.p33 {
  color: #cf2e2e;
  margin-top: 2rem;
  line-height: 2rem;
}

.p34 {
  margin-top: 2rem;
}

.p35 {
  margin-top: 2rem;
  line-height: 2rem;
}

.p36 {
  margin-top: 4rem;
}

.List4 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.List4 li {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.p37 {
  margin-top: 4rem;
  line-height: 2rem;
}

.p38 {
  margin-top: 2rem;
  line-height: 2rem;
}

.p39 {
  margin-top: 2rem;
}

.p40 {
  margin-top: 2rem;
  line-height: 2rem;
}

.p41 {
  margin-top: 6rem;
}

.p42 {
  color: #b98608;
  margin-top: 4rem;
  font-size: 1.2rem;
}

.p43 {
  color: #b98608;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.p44 {
  color: #b98608;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.p45 {
  color: #b98608;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.p46 {
  color: #b98608;
  font-size: 1.2rem;
  margin-top: 4rem;
}

.img13 {
  margin-top: 1rem;
  margin-left: 20rem;
}

.img13 img {
  width: 35vw;
  height: auto;
}

.flex1 {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.p47 {
  color: #b98608;
  font-size: 1.2rem;
}

.List5 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.List5 li {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.1rem;
}

.p48 {
  color: #b98608;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.p49 {
  color: #b98608;
  font-size: 1.2rem;
  margin-top: 4rem;
}

.img14 img {
  width: 30vw;
  height: auto;
}

.img15 {
  margin-top: 1rem;
}

.img15 img {
  width: 60vw;
  height: auto;
}

.p50 {
  text-align: center;
  color: #b98608;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.img16 {
  margin-top: 4rem;
}

.img16 img {
  width: 60vw;
  height: auto;
}

.img17 {
  margin-top: 1rem;
}

.img17 img {
  width: 60vw;
  height: auto;
}

.img18 {
  margin-top: 1rem;
}

.img18 img {
  width: 60vw;
  height: auto;
}

.p51 {
  color: #cf2e2e;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.p52 {
  font-size: 1.2rem;
  margin-top: 4rem;
  line-height: 2rem;
}

.p53 {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 2rem;
}

.p54 {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 2rem;
}

.p55 {
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 2rem;
}

.img19 {
  margin-top: 3rem;
}

.img19 img {
  width: 60vw;
  height: auto;
}

.p56 {
  color: #cf2e2e;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 3rem;
}

.p57 {
  margin-top: 4rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.p58 {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.img20 {
  margin-top: 2rem;
}

.img20 img {
  width: 60vw;
  height: auto;
}

.p59 {
  color: #cf2e2e;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.p60 {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 3rem;
}

.p61 {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 3rem;
}

.p62 {
  font-size: 1.2rem;
  margin-top: 3rem;
  line-height: 3rem;
}

/* フッター */

.pc-footer {
  width: 100%;
  text-align: center;
  border-top: 3px solid #d8b529;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.container li {
  padding: 0 1rem;
  margin-top: .3rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.container li a {
  text-decoration: none;
  color: #000;
  opacity: .6;
  font-size: 1rem;
}

.copyright {
  padding-top: 2rem;
}

.copyright a {
  text-decoration: none;
}

.copyLink {
  color: #000;
  font-size: .8rem;
  opacity: .8;
}

/* subentrybody */

.subEntry-body {
  margin-top: 4rem;
}

.infoItem h2 {
  font-weight: normal;
  opacity: .9;
  font-size: 1rem;
  padding-top: .5rem;
}

.infoItem a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  opacity: .9;
  font-size: .8rem;
  padding-top: .3rem;
}

.search h2 {
  font-weight: normal;
  font-size: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.form-group {
  width: 10vw;
  height: 5vh;
}

.btn-primary {
  color: #FFF;
  background-color: #d8b529;
  padding: .5rem 2rem;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
  cursor: pointer;
}

.lineAppraise h2 {
  font-weight: normal;
  font-size: 1.3rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img21 {
  padding-top: 1rem;
}

.img21 img {
  width: 20vw;
  height: auto;
}

.lineAppraise p {
  padding-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img22 {
  padding-top: 1rem;
}

.img22 img {
  width: 20vw;
  height: auto;
}

.blog h2 {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img23 {
  padding-top: 1rem;
}

.img23 img {
  width: 20vw;
  height: auto;
}

.facebook h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img24 {
  padding-top: 1rem;
}

.img24 img {
  width: 20vw;
  height: auto;
}

.instagram h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img25 {
  padding-top: 1rem;
}

.img25 img {
  width: 20vw;
  height: auto;
}

.twitter h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img26 {
  padding-top: 1rem;
}

.img26 img {
  width: 20vw;
  height: auto;
}

.tiktok h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img27 {
  padding-top: 1rem;
}

.img27 img {
  width: 20vw;
  height: auto;
}

.kaitori h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img28 {
  padding-top: 1rem;
}

.img28 img {
  width: 20vw;
  height: auto;
}

.img29 {
  padding-top: 1rem;
}

.img29 img {
  width: 20vw;
  height: auto;
}

.img30 {
  padding-top: 1rem;
}

.img30 img {
  width: 20vw;
  height: auto;
}

.Achievements h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img31 {
  padding-top: 1rem;
}

.img31 img {
  width: 20vw;
  height: auto;
}

.kaitoriItem h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img32 {
  padding-top: 1rem;
}

.img32 img {
  width: 20vw;
  height: auto;
}

.reason h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img33 {
  padding-top: 1rem;
}

.img33 img {
  width: 20vw;
  height: auto;
}

.brand h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img34 {
  padding-top: 1rem;
}

.img34 img {
  width: 20vw;
  height: auto;
}

.access h2 {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.img35 {
  padding-top: 1rem;
}

.img35 img {
  width: 20vw;
  height: auto;
}

.contact {
  width: 20vw;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 0;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  background-color: #00000005;
}

.p63 {
  font-size: .9rem;
}

.p64 {
  color: #d8b529;
  font-size: 1.2rem;
  padding-top: .2rem;
}

.p65 {
  font-size: .6rem;
  padding-top: .2rem;
}

.mail-btn {
  width: 15vw;
  background-color: #d8b529;
  border: 1px solid #000;
  padding: .5rem 0;
  margin-top: 1rem;
  margin-left: 3rem;
  text-align: center;
}

.mail-btn a {
  text-decoration: none;
  color: #f5f5f5;
}

.mail-btn a span {
  font-size: .6rem;
}

.img36 {
  padding-top: 1rem;
}

.img36 img {
  width: 20vw;
  height: auto;
}

@media(max-width:1030px) {
  .youtube iframe {
    width: 100%;
    height: 25rem;
  }

  .img1 img {
    width: 70%;
  }

  .img2 img {
    width: 100%;
  }

  .img3 img {
    width: 70%;
  }

  .img4 img {
    width: 70%;
  }

  .img5 img {
    width: 100%;
  }

  .img6 img {
    width: 100%;
  }

  .img7 img {
    width: 100%;
  }

  .img8 img {
    width: 100%;
  }

  .img9 img {
    width: 100%;
  }

  .img10 img {
    width: 60%;
  }

  .img11 img {
    width: 100%;
  }

  .img12 img {
    width: 100%;
  }

  .img13 img {
    width: 100%;
  }

  .img14 img {
    width: 100%;
  }

  .img15 img {
    width: 100%;
  }

  .img16 img {
    width: 100%;
  }

  .img17 img {
    width: 100%;
  }

  .img18 img {
    width: 100%;
  }

  .img19 img {
    width: 100%;
  }

  .img20 img {
    width: 100%;
  }

  /* ハンバーガーメニュー */
  .l-modalMenu--bodyInner .logo {
    position: fixed;
    width: 100%;
    padding: 2rem 0;
    background-color: #000;
  }

  .l-bottomNav-item {
    display: block;
  }

  .l-modalMenu--bodyInner {
    height: 100%;
    overflow: scroll;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .category h2 {
    text-align: left;
    font-weight: normal;
    margin-left: .8rem;
    border-bottom: 1px solid #d8b529;
  }

  .l-bottomNav-Menu-List {
    position: fixed;
  }

  .l-bottomNav-Menu-List ul {
    list-style: none;
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 2rem;
  }

  .l-modalMenu--bodyInner li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .l-modalMenu--bodyInner li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 4rem 0 0;
    color: #000;
    margin-top: 2rem;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    z-index: 999;
  }

  #open {
    position: fixed;
    top: 1rem;
    right: 16px;
    cursor: pointer;
    font-size: 2rem;
    color: #212529;
    border: 1px solid #333;
    background-color: rgb(255 255 255 / 80%);
    padding: 1rem;
    z-index: 999;
  }

  .overlay #close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #212529;
    border: 1px solid #333;
    background-color: rgb(255 255 255 / 80%);
    padding: 1rem;
    font-size: 3rem;
    z-index: 999;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .header-main nav ul {
    flex-wrap: wrap;
    padding: 1rem 1rem 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .logo img {
    width: 30vw;
    object-fit: scale-down;
  }

  .header-main nav ul {
    display: none;
  }

  .section-Main {
    display: none;
  }

  .Phone-Section-Main {
    display: block;
    padding: 2rem 3rem;
  }

  .Phone-Section-Main .subEntry-body {
    width: 100%;
    padding-top: 2rem;
    margin-left: 0;
  }

  .contact {
    width: 20vw;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .mail-btn {
    width: 100%;
    margin-left: 0;
  }

  .Phone-Section-Main .subEntry-body .form-group {
    width: 60vw;
    height: 3vw;
  }

  .Phone-Section-Main .subEntry-body .btn-primary {
    padding: .5rem 7rem;
  }

  .Phone-Section-Main .subEntry-body .img21 img {
    width: 100%;
  }

  .Phone-Section-Main .subEntry-body .img22 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img23 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img24 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img25 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img26 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img27 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img28 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img29 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img30 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img31 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img32 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img33 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img34 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .img35 img {
    width: 40vw;
  }

  .Phone-Section-Main .subEntry-body .contact {
    width: 100%;
    text-align: center;
  }

  .Phone-Section-Main .subEntry-body .img36 img {
    width: 100%;
  }
}

@media(max-width:820px) {
  .Phone-Section-Main .subEntry-body .form-group {
    width: 50vw;
    height: 3vw;
  }
}


@media(max-width:540px) {
  .category h2 {
    text-align: left;
    font-weight: normal;
    margin-left: .8rem;
    border-bottom: 1px solid #d8b529;
  }

  .youtube iframe {
    height: 20rem;
  }

  .l-modalMenu--bodyInner nav {
    padding-bottom: 6rem;
  }

  .l-modalMenu--bodyInner li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 4rem 0 0;
    color: #000;
    margin-top: 2rem;
  }

  #open {
    position: fixed;
    top: 1rem;
    right: 16px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #212529;
    border: 1px solid #333;
    background-color: rgb(255 255 255 / 80%);
    padding: 1rem;
    z-index: 999;
  }

  .overlay #close {
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #212529;
    border: 1px solid #333;
    background-color: rgb(255 255 255 / 80%);
    padding: 1rem;
    font-size: 2rem;
    z-index: 999;
  }

  .logo img {
    width: 50vw;
  }

  .Phone-Section-Main {
    padding: 2rem 1rem;
  }

  .flex1 {
    display: none;
  }

  .Phone-flex1 {
    display: block;
  }

  .p47 {
    margin-top: 3rem;
  }

  .img9 {
    margin-left: 10rem;
  }

  .img13 {
    margin-left: 10rem;
  }

  .img14 {
    margin-top: 2rem;
  }

  .Phone-Section-Main .subEntry-body .form-group {
    width: 45vw;
  }

  .Phone-Section-Main .subEntry-body .btn-primary {
    padding: .5rem 4rem;
  }

  .container ul {
    display: block;
    text-align: left;
  }

  .copyright {
    text-align: center;
  }
}

@media(max-width:430px) {
  .logo img {
    width: 50%;
    object-fit: scale-down;
  }

  .youtube iframe {
    height: 15rem;
  }

  .p7 {
    margin-top: 4rem;
  }
}